Cripto2018-1-master/Practica 02/Ejercicio2/common-passwords.txt
Cripto2018-1-master/Practica 02/Ejercicio2/passdescifrados.txt
../../.DS_Store
	../../.localized
	../../71rgag2w4pL.jpg
	../../Captura de pantalla 2017-10-08 a las 19.19.28.png
	../../Captura de pantalla 2017-10-12 a las 3.23.51.png
	../../Captura de pantalla 2017-10-13 a las 7.13.25.png
	../../Captura de pantalla 2017-10-24 a las 20.14.31.png
	../../Captura de pantalla 2017-10-24 a las 20.55.49.png
	../../Captura de pantalla 2017-11-06 a las 12.43.03.png
	../../Captura de pantalla 2017-11-20 a las 23.27.07.png
	../../ChavezSanchez_Practica01.zip
	../../ChavezSanchez_Practica01/
	../../Ciencias.jpg
	../../Composer/
	../../DESKTOP/
	"../../DOS Best Buy _ Best Buy M\303\251xico .pdf"
	"../../En tecnolog\303\255a, primero Best Buy _ Best Buy M\303\251xico.pdf"
	../../FRONT END-SKILLS.png
	../../Final Countdown/
	../../Practica1_Alfaro_Chavez.zip
	../../WirelessDiagnostics_C17N56CDG085_2017-10-27_22.40.44.tar.gz
	../../WirelessDiagnostics_C17N56CDG085_2017-10-27_22.40.44/
	../../WirelessDiagnostics_C17N56CDG085_2017-10-29_21.53.38.tar.gz
	../../WirelessDiagnostics_C17N56CDG085_2017-10-29_21.55.50.tar.gz
	../../WirelessDiagnostics_C17N56CDG085_2017-11-02_21.02.39.tar.gz
	../../WirelessDiagnostics_C17N56CDG085_2017-11-02_21.05.26.tar.gz
	../../WirelessDiagnostics_C17N56CDG085_2017-11-05_07.37.26.tar.gz
	../../affineCipher.py
	../../alf20181t1.pdf
	../../ex1.3a.jff
	../../unnamed.jpg
